@import '../../app/styles/index.scss';

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  padding: 20px 30px;
  background: $color-gainsboro;

  &__link {
    color: $color-eclipse;
    font-weight: 500;

    &:hover,
    &:focus {
      color: #1976d2;
      transition: color $trans-default;
    }
  }
}

.footer {
  background: $color-gainsboro;
  padding: 20px 30px;
  min-height: 50px;
  flex-shrink: 0;
  width: 100%;
}

main {
  flex-grow: 1;
  padding-top: 100px;
}

.main {
  &__title {
    margin: 0;
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
  }
}
