$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);
$color-gray:                        #b3b3b3;
$color-eclipse:                     #363636;
$color-gainsboro:                   #d9d9d9;
$color-alice-blue:                  #eaf0f3;
$color-white-smoke:                 #f2f2f2;
$color-light-grey:                  #cccccc;


$fz-default:                        1rem;
$ff-roboto:                         "Roboto", "Arial", sans-serif;
