@import '../../app/styles/index.scss';

.user-profile {
  &__buttons {
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: center;
    gap: 50px;
  }

  .user-card {
    max-width: 60%;
    margin: 0 auto 50px;

    &__photo {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      object-fit: cover;
    }

    &__wrapper {
      width: 100%;
      margin-top: 50px;
    }

    &__table {
      border: none;
      padding: 0 50px;
    }
  }
}
